{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ $counter := 0}}
        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year"></div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        {{ $counter = add $counter 1 }}
                        <li class="post-item">
                            <a href="{{.Permalink}}" class="post-item-inner">
                                <span class="post-title">{{ $counter }}. {{.Title}}</span>
                                <span class="post-day"> //
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
